/*---------RESETS---------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /*-------CONTAINER/GRID--------*/
  .container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem;
  }

   /*-------HEADER--------*/
   .header{
    background: #000000;
    position: relative;
   }

   .header .header__nav i{
    color: #ffffff;
   }

   .header .header__nav i:hover{
    transform: scale(1.5);
    transition: .5s ease;
   }

   .header .branding{
    display: flex;
    align-items: center;
   }

   .header .branding img{
    width: 15rem;
    border-right: 1px solid #ffffff;
    padding-right: 1rem;
   }

   .header .branding a{
    font-size: 2.5rem;
    color: #ffffff;
    padding-left: 1rem;
   }

   .header .branding a:hover{
    text-decoration: underline;
   }

   .header .header__nav i, .header .header__nav .toggle__menu{
    display: none;
   }

   .header .header__nav{
    display: flex;
    align-items: center;
    gap: 2rem;
   }

   .header .header__nav ul{
    display: flex;
    gap: 2rem;
   }

   .header .header__nav ul.open{
    max-height: 20rem;
    transition: .5s ease;
    padding: 3rem 0;
   }

   .header .header__nav li:last-child a{
    width: 15rem;
    text-align: center;
   }

  .toggle__menu span{
    width: 3rem;
    height: .3rem;
    background-color: #ffffff;
    display: block;
    margin-top: .5rem;
    border-radius: 5rem;
    transition: .5s ease-in;
  }

  .toggle__menu span:nth-child(2){
    margin: .5rem 0;
  }

   @media screen and (max-width: 500px){
    .header .header__nav i, .header .header__nav .toggle__menu{
        display: unset;
    }

    .header .header__nav ul{
        position: absolute;
        background: #000000;
        left: 0;
        top: 6.5rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: .5s ease;
    }

    .header .header__nav ul li{
        text-align: center;
    }

    .header .header__nav ul li:not(:last-child) a{
        border-radius: 0;
        border-bottom: 1px solid #ffffff;
    }

    .header .header__nav ul li a:hover{
        background: none;
        color: gray;
    }

    .header .header__nav ul li:last-child a:hover{
        border: none;
        background: none;
        color: gray;
    }

    .header .header__nav ul li a{
        width: fit-content;
        background: none;
        border: none;
    }
  
    .toggle__menu.open span:first-child{
        transform: translate(0, 10px) rotate(225deg);
        transition: .5s ease-in;
    }
  
    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease-in;
    }
  
    .toggle__menu.open span:last-child{
        transform: translate(0, -6px) rotate(-225deg);
        transition: .5s ease-in;
    }
   }

  /*-------HELP BANNER--------*/
  .help-banner{
    background: #dadbf1;
    position: relative;
  }

  .help-banner .help-banner__wrapper{
    height: 25rem;
    text-align: center;
    margin: 8rem 0;
  }

  .help-banner .help-banner__text h1{
    color: #000000;
    font-size: 8rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .help-banner .help-banner__content{
    position: relative;
    align-items: center;
  }

  .help-banner .help-banner__content .form #search:focus, .help-banner .help-banner__content .form #search:hover{
    border-color:#4C5FD5 !important;
    outline: none;
  }

  .help-banner .help-banner__content .form:hover + .arrow-svg{
    fill:#4C5FD5 !important;
  }

  .help-banner .help-banner__content .form input{
    border: 1px solid #000000;
    border-radius: .5rem;
    font-size: 2rem;
    padding: 2rem;
    width: 65%;
    height: 7rem;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
  }

  .help-banner .help-banner__content .arrow-svg{
    color: #000000;
    position: absolute;
    right: 22rem;
    top: 15.4rem;
    width: 5rem;
    height: 5rem;
  }

  .help-banner .help-banner__content .arrow-svg:hover{
    fill: #4C5FD5 !important;
  }

  .help-banner .btn.violet{
    position: fixed;
    margin-top: 5rem;
    margin-left: 120rem;
    float: right;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f5f5f5;
    background: #4C5FD5;
    border: 1px solid #4C5FD5;
    padding: .9rem 1.8rem;
    align-items: center;
  }

  .help-banner .btn.violet:hover{
    color: #ffffff;
    background: #4C5FD5;
    border: 1px solid #4C5FD5;
  }

  .help-banner .btn.violet i{
    font-size: 2rem;
    margin-right: 1rem;
  }

  @media screen and (max-width: 500px) {
    .help-banner .help-banner__wrapper{
      height: 17rem;
      margin: 7rem 0;
    }

    .help-banner .help-banner__text h1{
      font-size: 5rem;
    }

    .help-banner .help-banner__content .form input{
      width: 100%;
      height: 5rem;
    }

    .help-banner .help-banner__content .arrow-svg{
      right: 1.5rem;
      top: 10rem;
      width: 3rem;
    }

    .help-banner .btn.violet{
      margin-left: 37rem;
      margin-top: 10rem;
    }
  }

  /*-------SV - SERVICES--------*/
  .sv-services__wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5rem;
    padding: 15rem 5rem 5rem 5rem;
  }

  .sv-services__item{
    display: flex;
    margin-bottom: 8rem;
  }

  .sv-services__item img{
    margin-right: 3rem;
    width: 8rem;
    height: 8rem;
  }

  .sv-services__item .sv-services__text h4{
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .sv-services__item .sv-services__text h4:first-child{
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .sv-services__item .sv-services__text a:hover{
    text-decoration: underline;
  }

  .sv-services__item .sv-services__text a{
    font-size: 2rem;
    font-weight: 500;
    color: #4C5FD5;
  }

  @media screen and (max-width: 500px) {
    .sv-services__wrapper{
      display: grid;
      grid-template-columns: auto;
      padding: 10rem 5rem 5rem 3.5rem;
    }

    .sv-services__item{
      margin-bottom: 5rem;
    }

    .sv-services__item img{
      width: 7rem;
      height: 7rem;
    }

    .sv-services__item .sv-services__text h4{
      font-size: 2rem;
    }
  
    .sv-services__item .sv-services__text a:hover{
      text-decoration: underline;
    }
  
    .sv-services__item .sv-services__text a{
      font-size: 2rem;
    }
  }

  /*-------FOOTER--------*/
  .footer{
    background: #000000;
  }

  .footer .footer__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .footer .footer__text{
    color: #ffffff;
  }

  .footer .footer__text h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .footer .footer__text a{
    display: block;
  }

  .footer .footer__text:nth-child(4) a:nth-child(5){
    font-weight: 600;
    margin-top: 2rem;
  }

  .footer .footer__text a:hover:not(:nth-child(5)){
    text-decoration: underline;
  }

  .footer .footer__text img{
    width: 15rem;
    margin-bottom: 1rem;
  }

  .footer .footer__text:last-child{
    margin: 13rem 0rem 8rem 15rem;
  }

  .footer .footer__text:last-child h4{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  @media screen and (max-width: 500px) {
    .footer .footer__wrapper{
      display: grid;
      grid-template-columns: auto auto;
    }

    .footer .footer__text{
      margin-bottom: 5rem;
    }

    .footer .footer__text:last-child{
      margin: 0rem  0rem 5rem 0rem;
    }

    .footer .footer__text img{
      width: 10rem;
    }

    .footer .footer__text:last-child h4{
      font-size: 1.5rem;
    }
  }

  /*-------REPEATABLE PATTERNS--------*/
  .btn{
    display: inline-block;  
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  .btn.violet{
    font-size: 2.3rem;
    color: #f5f5f5;
    background: #4C5FD5;
    border: 1px solid #4C5FD5;
  }

  .btn.violet:hover{
    color: #000000;
    background: #ffffff;
    border: 1px solid #ffffff;
  }

  .btn.black{
    font-size: 2.3rem;
    color: #ffffff;
    background: #2b2b2b;
    border: 1px solid #ffffff;
  }

  /* .btn.black:hover{
    background: #f5f5f5;
    color: #000000;
  } */

  .centerAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }